<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Newsletter mamaison</title>
</head>

<body style="margin: 0; padding: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
       style="border:1px solid #cccccc; border-radius:15px;margin-top: 15px; ">
    <tr>
        <td align="left" bgcolor="#ffffff" style="border-radius: 15px 15px 0px 0px; padding: 15px;">
            <img src="{{ absolute_url(asset('assets/images/mamaison2.png')) }}" alt="Mamaison" width="100" height="50"
                 style="display: block; text-align: left;"/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#fcfdfd" style="border-radius: 0px 0px 0px 0px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center"
                        style="font-size: 30px; color:#004374; font-family:'Arial', Times, serif; text-align: center;">
                        <h3>{{ annonce.titre }}</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 12pt; color: #3d3d3d; text-align: center;">
                        <img alt="{{ annonce.titre }}"
                             src="{{ url('mamaison.thumb',{'id':annonce.id}) }}"
                             width="540" height="260">
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 15px; text-align: center;">
                        <p>{{ annonce.adresse }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#003474" style="border-radius: 0px 0px 15px 15px; padding-right: 15px; padding-left: 15px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="left"
                        style="font-size: 15px; color:#004374; font-family:'Arial', Times, serif; text-align: justify;">
                        <p style="color: #fafafa;">
                            <u>Description</u> :
                        </p>
                        <p style="color: #fafafa;">
                            {{ annonce.description }}
                        </p>
                        <p style="color: #fafafa;font-size: 20px;font-weight: bold;">
                            {{ annonce.prix }} AR
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr>
    <td style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#5c5c5c">
        <div>
            <h2>Mamaison.mg</h2>
        </div>
        <div>
            <a style="color:#3777b0;text-decoration:none" href="" target="_blank">Blog</a>
            路
            <a style="color:#3777b0;text-decoration:none" href="" target="_blank">Twitter</a>
            路
            <a style="color:#3777b0;text-decoration:none" href="" target="_blank">Facebook</a>
            路
            <a style="color:#3777b0;text-decoration:none" href="" target="_blank">YouTube</a>
            路
            <a style="color:#3777b0;text-decoration:none" href="" target="_blank">LinkedIn</a>
        </div>
    </td>
    </tr>
    <tr>
        <td style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#5c5c5c;padding:25px 0">
            <div>
                Se desabonnez du newsletter de  <a href="{{ url("homepage") }}"
                                                                       target="_blank">mamaison.mg</a>.
            </div>
        </td>
    </tr>
</table>
</body>
</html>