<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    {% endblock %}
    <!--Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Houzez HTML5 Template">
    <meta name="description" content="Houzez HTML5 Template">
    <meta name="author" content="Favethemes">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="{{ asset('assets/images/favicons/favicon.ico') }}"/>
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/jquery-ui.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/mediaqueries.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="modal fade" id="pop-login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    <ul class="contenaire-login" align="center">
                        <a href="{{ path('login') }}" class="menumbil"><h5 style="color : #828282;">Se connecter</h5></a>
                        <hr></hr>
                        <a href="{{ path('registration_simple_user')}}" class="menumbil"><h5 style="color : #828282; sans-serif;">S'enregistrer</h5></a>
                    </ul>
            </div>
        </div>
    </div>
</div>

<!--start header section header v1-->
<header id="header-section" class="header-section-4 nav-left hidden-sm hidden-xs" data-sticky="1">
    <div class="container">
        <div class="header-left">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/images/mamaison2.png')}}" alt="logo">
                </a>
            </div>
            <nav class="navi main-nav">
                {{ render(controller(
                    'AppBundle:Header:index'
                )) }}
            </nav>
            <nav class="navi main-nav">
                {{ render(controller(
                    'AppBundle:Header:ville'
                )) }}
            </nav>
        </div>
        <div class="header-right">

            <div class="user">
                {% if app.user %}
                    {% if app.user.type == "simple" %}
                        <a href="{{ path('mon-compte.edit') }}">Mon compte </a>
                    {% elseif app.user.type == 'society' %}
                        <a href="{{ path('compte.edit',{'societyName' : app.user.societyName}) }}">Mon compte </a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('login') }}">Se connecter </a>
                    {#<a href="{{ path('registration_simple_user') }}">Créer un compte</a>#}
                {% endif %}
                <a href="{{ path('annonce_mon_proprietes') }}" class="btn btn-default btn-publish">Publier votre propriété</a>
            </div>

        </div>
    </div>
</header>
<div class="header-mobile visible-sm visible-xs">
    <div class="container">
        <!--start mobile nav-->
        <div class="mobile-nav">
            <span class="nav-trigger"><i class="fa fa-navicon"></i></span>
            <div class="nav-dropdown main-nav-dropdown"></div>
        </div>
        <!--end mobile nav-->
        <div class="header-logo">
            <a href="#"><img src="{{ asset('assets/images/mamaison2.png')}}" alt="logo" ></a>
        </div>
        <div class="header-user">
            <div class="user">
                {% if app.user %}
                    <a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i></a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#pop-login"><i class="fa fa-user"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--start advanced search section-->
<section class="advanced-search advance-search-header">
    <div class="header-media">
        <div class="page-banner-image banner-single-item">
            <div class="banner-inner" style="background-image: url({{asset('assets/images/ecully4.jpg')}})">
                <div class="banner-caption">
                    <div class="splash-search">
                        <h1> Toutes les annonces immobilièrs</h1>
                        <div class="banner-search-taber">
                            <div class="banner-search-tabs">
                                <div class="search-tab active">
                                    <div class="search-tab-inner">A vendre</div>
                                </div>
                                <div class="search-tab">
                                    <div class="search-tab-inner">A louer / mois</div>
                                </div>
                                <div class="search-tab">
                                    <div class="search-tab-inner">A louer / jour</div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active in">
                                    <div class="advanced-search">
                                       {{ include('search/form_home.html.twig',{typeAnnonce: 1})}}     
                                    </div>
                                </div>
                                <div class="tab-pane fade">
                                    <div class="advanced-search">
                                        {{ include('search/form_home.html.twig',{typeAnnonce: 3}) }}
                                    </div>
                                </div>
                                <div class="tab-pane fade">
                                    <div class="advanced-search">
                                        {{ include('search/form_home.html.twig',{typeAnnonce: 2}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--end advanced search section-->


<!--start advanced search section-->
<section class="advanced-search-mobile visible-xs visible-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="single-search-wrap">
                        <div class="single-search-inner advance-btn">
                            <button class="table-cell text-left" type="button"><i class="fa fa-gear"></i></button>
                        </div>
                        <div class="single-search-inner single-search">

                            <input type="text" class="form-control table-cell" name="search" placeholder="Entrer une adresse, une ville, une rue ou un zip ...">
                        </div>
                        <div class="single-search-inner single-seach-btn">
                            <button class="table-cell text-right" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="advance-fields">
                        <div class="row">

                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select class="selectpicker" data-live-search="true" data-live-search-style="begins" title="A vendre">
                                        <option>A vendre</option>
                                        <option>A louer / mois</option>
                                        <option>A louer / jour</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Region">
                                        <option>Location 1</option>
                                        <option>Location 2</option>
                                        <option>Location 3</option>
                                        <option>Location 4</option>
                                        <option>Location 5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Ville">
                                        <option>Location 1</option>
                                        <option>Location 2</option>
                                        <option>Location 3</option>
                                        <option>Location 4</option>
                                        <option>Location 5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Quartier">
                                        <option>Location 1</option>
                                        <option>Location 2</option>
                                        <option>Location 3</option>
                                        <option>Location 4</option>
                                        <option>Location 5</option>
                                    </select>
                                </div>
                            </div>


                            <div class="features-list">
                                <label class="text-uppercase title">Categories</label>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> terrain
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> propriété commerciale
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option3"> villa
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> studio
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> maison familiale
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option3"> appartement
                                        </label>
                                    </div>
                                </div>
                                </br>

                            </div>



                            <div class="features-list">
                                <label class="text-uppercase title">Caracteristique generale</label>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> 1er plan
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> 2ème plan avec accès voiture
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option3"> 2ème plan avec accès moto
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> 2ème plan accès piéton
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> Avec garage
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> Avec cour
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> WC intérieur
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> Douche intérieur
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> Cuisine
                                        </label>
                                    </div>
                                </div>
                                </br>
                            </div>



                            <div class="col-sm-12  col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6  col-xs-6">
                                            <input class="form-control" id="property-title" type="number" placeholder="Valeur minimum" min="3000" height="2px">
                                        </div>
                                        <div class="col-sm-6  col-xs-6">
                                            <input class="form-control" id="property-title" type="number" placeholder="Valeur minimum" min="1000000000">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 col-xs-2">

                            </div>

                            <div class="col-sm-6 col-xs-8">
                                </br>
                                <button type="submit" class="btn btn-secondary btn-block"><i class="fa fa-search pull-left"></i> Recherche </button>
                            </div>

                            <div class="col-sm-3 col-xs-2">

                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--end advanced search section-->
{% block content %}
{% endblock %}
<!--start footer section-->
<footer class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-widget widget-about">
                        <div class="widget-top">
                            <h3 class="widget-title">À propos du site</h3>
                        </div>
                        <div class="widget-body">
                            <p></p>
                            <p class="read"><a href="about-us.html" >En savoir plus <i class="fa fa-caret-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget widget-contact">
                        <div class="widget-top">
                            <h3 class="widget-title">Nous contacter</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="list-unstyled" >
                                <li><i class="fa fa-location-arrow"></i>Mahamasinba</li>
                                <li><i class="fa fa-phone"></i>+231 032 54 953 67 </li>
                                <li><i class="fa fa-envelope-o"></i> <a href="#">info@mamaison.mg</a></li>
                            </ul>
                            <!--<p class="read"><a href="contact-us.html">Nous contacter &nbsp;<i class="fa fa-caret-right"></i></a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-widget widget-newsletter">
                        <div class="widget-top">
                            <h3 class="widget-title">Newsletter</h3>
                        </div>
                        <div class="widget-body">
                            <form>
                                <div class="table-list">
                                    <div class="form-group table-cell">
                                        <div class="input-email input-icon">
                                            <input class="form-control" placeholder="Entrer votre Email">
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <button class="btn btn-primary">Soumettre</button>
                                    </div>
                                </div>
                            </form>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-col">
                        <div class="navi">
                            <ul id="footer-menu" class="">
                                <li><a href="vie-privee.html">Vie Priv&eacute;e</a></li>
                                <li><a href="termes-conditions.html">Termes & Conditions</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-col foot-social">
                        <p >
                            Nous suivre sur
                            <a href="#"><i class="fa fa-facebook-square" id="faclasse"></i></a>
                            <a href="#" ><i class="fa fa-twitter-square" id="faclasse" ></i></a>
                            <a href="#"><i class="fa fa-google-plus-square" id="faclasse" ></i></a>
                            <a href="#" ><i class="fa fa-linkedin-square" id="faclasse" ></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerR">
        <div class="col-md-12 col-sm-12">
                <p align="center">MaMaison © Tous droits r&eacute;serv&eacute;s</p>
        </div>     
    </div>
</footer>
<!--end footer section-->

<!--Start Scripts-->
<script type="text/javascript" src="{{ asset('assets/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/modernizr.custom.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/owl.carousel.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.matchHeight-min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/bootstrap-select.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/isotope.pkgd.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.nicescroll.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.parallax-1.1.3.js')}}"></script>
{#<script type="text/javascript" src="{{ asset('assets/js/jquery.ezdz.min.js')}}"></script>#}
<script type="text/javascript" src="{{ asset('assets/js/custom.js')}}"></script>
<script src="{{ asset('build/search.js') }}"></script>
</body>
</html>