{% extends 'template.html.twig' %}
{% block content %}
    {{ render(controller(
        'MamaisonAnnonceBundle:TemplateAnnonce:renderPart1'
    )) }}
    <div class="col-lg-8 col-md-8 col-sm-12 list-grid-area container-contentbar">
        <div id="content-area">
            <!--start property items-->
            <div class="property-listing list-view">
                <div class="row">
                    {% for annonce in annonces %}
                        <div class="item-wrap">
                            <div class="property-item table-list">
                                <div class="table-cell">
                                    <div class="figure-block">
                                        <figure class="item-thumb">
                                            <div class="price hide-on-list">
                                                <h3> AR {{ annonce.prix }}</h3>
                                                {#<p class="rant">AR 21,000/m²</p>#}
                                            </div>
                                            <a href="{{ path('annonce_show',{'ville':app.request.cookies.get('ville') ,'category':annonce.category.type|slugify,'type':annonce.typeAnnonce.valeur|slugify,'title':annonce.titre | slugify,'id':annonce.id}) }}">
                                                <img class="img-thumbnail" src="{{ path('mamaison.thumb',{'id':annonce.id}) }}" alt="{{ annonce.titre }}">
                                            </a>
                                            <figcaption class="thumb-caption cap-actions clearfix">
                                                <ul class="list-unstyled actions pull-right">
                                                    <li>
                                                                <span title="" data-placement="top"
                                                                      data-toggle="tooltip"
                                                                      data-original-title="Favorite">
                                                                    {% if app.user %}
                                                                        {% if annonce in app.user.annonces %}
                                                                            <a href="{{ path('unlike',{'annonce_id':annonce.id}) }}">
                                                                                        <i class="fa fa-heart">
                                                                                        </i>
                                                                                    </a>
                                                                                {% else %}
                                                                            <a href="{{ path('like',{'annonce_id':annonce.id}) }}">
                                                                                        <i class="fa fa-heart-o">
                                                                                        </i>
                                                                                    </a>
                                                                        {% endif %}
                                                                            {% else %}
                                                                        <a href="{{ path('like',{'annonce_id':annonce.id}) }}">
                                                                                    <i class="fa fa-heart-o">
                                                                                    </i>
                                                                                </a>
                                                                    {% endif %}
                                                                </span>
                                                    </li>
                                                    <li class="share-btn">
                                                        <div class="share_tooltip fade">
                                                            <a target="_blank" href="#"><i
                                                                        class="fa fa-facebook"></i></a>
                                                            <a target="_blank" href="#"><i
                                                                        class="fa fa-twitter"></i></a>
                                                        </div>
                                                        <span title="" data-placement="top" data-toggle="tooltip"
                                                              data-original-title="share"><i
                                                                    class="fa fa-share-alt"></i></span>
                                                    </li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="item-body table-cell">

                                    <div class="body-left table-cell">
                                        <div class="info-row">
                                            <div class="rating">
                                                        <span class="stars">
                                                            {% if (rating.getMoyenne(annonce)) > 0 %}
                                                                {% for i in 1..rating.getMoyenne(annonce) %}
                                                                    <i class="fa fa-star"></i>
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% set j = 1 %}

                                                            {% if (5 - rating.getMoyenne(annonce)) > 0 %}
                                                                {% for j in 1..(5 - rating.getMoyenne(annonce)) %}
                                                                    <i class="fa fa-star-o"></i>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </span>
                                                <span>{{ annonce.rating |length }} Votes</span>
                                            </div>
                                            <h2 class="property-title"><a href="{{ path('annonce_show',{'ville':app.request.cookies.get('ville') ,'category':annonce.category.type|slugify,'type':annonce.typeAnnonce.valeur|slugify,'title':annonce.titre | slugify,'id':annonce.id}) }}">{{ annonce.typeAnnonce.valeur }}</a>
                                            </h2>
                                            <h4 class="property-location">{{ annonce.adresse }}</h4>
                                        </div>
                                        <div class="info-row amenities hide-on-grid">
                                            {#<p>#}
                                            {#<span>Lits: 3</span>#}
                                            {#<span>Chambres: 2</span>#}
                                            {#<span>m²: 1,965</span>#}
                                            {#</p>#}
                                            <p>{{ annonce.category.type }}</p>
                                        </div>
                                        <div class="info-row date hide-on-grid">
                                            {% if annonce.user.type == 'simple' %}
                                                <p><i class="fa fa-user"></i> <a
                                                            href="{{ path('agent_show',{'id':annonce.user.id}) }}">{{ annonce.user.profileSimpleUser.nom }}</a>
                                                </p>
                                            {% elseif annonce.user.type == 'society' %}
                                                <p><i class="fa fa-user"></i> <a
                                                            href="{{ path('agent_show',{'id':annonce.user.id}) }}">{{ annonce.user.profileSocietyUser.nom }}</a>
                                                </p>
                                            {% endif %}
                                            <p><i class="fa fa-calendar"></i> {{ annonce.createdAt|ago }}</p>
                                        </div>
                                    </div>
                                    <div class="body-right table-cell hidden-gird-cell">
                                        <div class="info-row price">
                                            <h3> AR {{ annonce.prix }}</h3>
                                            {#<p class="rant"> AR 21,000/m²</p>#}
                                        </div>
                                        <div class="info-row phone text-right">
                                            <a href="{{ path('annonce_show',{'ville':app.request.cookies.get('ville') ,'category':annonce.category.type|slugify,'type':annonce.typeAnnonce.valeur|slugify,'title':annonce.titre | slugify,'id':annonce.id}) }}" class="btn btn-primary">Détails <i
                                                        class="fa fa-angle-right fa-right"></i></a>
                                            <p><a href="{{ path('agent_show',{'id':annonce.user.id}) }}">{% if annonce.user.type == 'simple' %}
                                                        {{ annonce.user.profileSimpleUser.telephone }}
                                                    {% elseif annonce.user.type == 'society' %}
                                                        {{ annonce.user.profileSocietyUser.telephone }}
                                                    {% endif %}</a></p>
                                        </div>
                                    </div>
                                    <div class="table-list full-width hide-on-list">
                                        <div class="cell">
                                            <div class="info-row amenities">
                                                {#<p>#}
                                                {#<span>Lits: 3</span>#}
                                                {#<span>Chambres: 2</span>#}
                                                {#<span>M²: 1,965</span>#}
                                                {#</p>#}
                                                <p>{{ annonce.category.type }}</p>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <div class="phone">
                                                <a href="{{ path('annonce_show',{'ville':app.request.cookies.get('ville') ,'category':annonce.category.type|slugify,'type':annonce.typeAnnonce.valeur|slugify,'title':annonce.titre | slugify,'id':annonce.id}) }}"
                                                   class="btn btn-primary">Détails <i
                                                            class="fa fa-angle-right fa-right"></i></a>
                                                <p><a href="{{ path('agent_show',{'id':annonce.user.id}) }}">{% if annonce.user.type == 'simple' %}
                                                            {% if annonce.user.profileSimpleUser.telephone %}
                                                                {{ annonce.user.profileSimpleUser.telephone }}
                                                            {% endif %}
                                                        {% elseif annonce.user.type == 'society' %}

                                                            {% if annonce.user.profileSocietyUser.telephone %}
                                                                {{ annonce.user.profileSocietyUser.telephone }}
                                                            {% endif %}
                                                        {% endif %}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-foot date hide-on-list">
                                <div class="item-foot-left">
                                    {% if annonce.user.type == 'simple' %}
                                        <p><i class="fa fa-user"></i> <a
                                                    href="{{ path('agent_show',{'id':annonce.user.id}) }}">{{ annonce.user.profileSimpleUser.nom }}</a>
                                        </p>
                                    {% elseif annonce.user.type == 'society' %}
                                        <p><i class="fa fa-user"></i> <a
                                                    href="{{ path('agent_show',{'id':annonce.user.id}) }}">{{ annonce.user.profileSocietyUser.nom }}</a>
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="item-foot-right">
                                    <p><i class="fa fa-calendar"></i>
                                        {{ annonce.createdAt|ago }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--end property items-->
            <hr>
            {{ knp_pagination_render(annonces) }}
        </div>
    </div>
    {{ render(controller(
        'MamaisonAnnonceBundle:TemplateAnnonce:renderPart2'
    )) }}
{% endblock %}
