{% extends 'template.html.twig' %}

{% block content %}
    <section id="section-body">
        <!--start detail top-->
        <section class="detail-top detail-top-grid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-detail table-list">
                            <div class="header-left table-cell">
                                <ol class="breadcrumb">
                                    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                                    <li><a href="#">Proprietes</a></li>
                                    <li class="active">{{ annonce.titre }}</li>
                                </ol>
                                <h1>
                                    {{ annonce.titre }}
                                    <span class="label-wrap">
                                        <span class="label label-primary">{{ annonce.typeAnnonce.valeur }}</span>
                                        {#<span class="label label-danger">Vendu</span>#}
                                    </span>
                                </h1>
                                <p>{{ annonce.category.type }} {{ annonce.typeAnnonce.valeur }} - {{ annonce.adresse }}</p>
                            </div>
                            <div class="header-right table-cell">
                                <ul class="actions">
                                    <li class="share-btn">
                                        <div class="share_tooltip tooltip_left fade">
                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-facebook"></i></a>
                                            <a href="#" onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}"><i class="fa fa-twitter"></i></a>

                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-pinterest"></i></a>

                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-linkedin"></i></a>

                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-envelope"></i></a>
                                        </div>
                                        <span data-placement="right" data-toggle="tooltip" data-original-title="share"><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                                            {% if app.user %}
                                                {% if annonce in app.user.annonces %}
                                                    <a href="{{ path('unlike',{'annonce_id':annonce.id}) }}">
                                                        <i class="fa fa-heart" title="unlike">
                                                        </i>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('like',{'annonce_id':annonce.id}) }}">
                                                        <i class="fa fa-heart-o" title="like">
                                                        </i>
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{{ path('like',{'annonce_id':annonce.id}) }}">
                                                    <i class="fa fa-heart-o" title="like">
                                                    </i>
                                                </a>
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                                <h1>AR {{ annonce.prix }}</h1>
                                {#<h4>21,000<sup>2</sup></h4>#}
                            </div>
                        </div>
                        <div class="detail-media">
                            <div class="tab-content">

                                <div id="gallery" class="tab-pane fade active in">
                                    <img src="{{ annonce.galleries |first }}" alt="Image" width="1170" height="600">
                                    <div class="form-small form-media">
                                        <div class="media agent-media">
                                            <div class="media-left">
                                                <a href="#">
                                                    {% if annonce.user.type == 'simple' %}
                                                        <img src="{{ asset('uploads/avatars/'~annonce.user.profileSimpleUser.avatar) }}" class="media-object" alt="image" width="74" height="74">
                                                    {% elseif annonce.user.type == 'society' %}
                                                        <img src="{{ asset('uploads/avatars/'~annonce.user.profileSimpleUser.avatar) }}" class="media-object" alt="image" width="74" height="74">
                                                    {% endif %}

                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Contact de l'Agent</h4>
                                                <ul>
                                                    <li><i class="fa fa-user"></i>
                                                        {% if annonce.user.type == 'simple' %}
                                                            {{ annonce.user.profileSimpleUser.nom }}
                                                        {% elseif annonce.user.type == 'society' %}
                                                            {{ annonce.user.profileSocietyUser.nom }}
                                                        {% endif %}
                                                    </li>
                                                    <li><i class="fa fa-phone"></i>
                                                        {% if annonce.user.type == 'simple' %}
                                                            {{ annonce.user.profileSimpleUser.telephone }}
                                                        {% elseif annonce.user.type == 'society' %}
                                                            {{ annonce.user.profileSocietyUser.telephone }}
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                                {#<a href="#" class="view">Voir ma liste</a>#}
                                            </div>
                                        </div>
                                        <form>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Votre Nom">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Téléphone">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="email" placeholder="E-mail">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" placeholder="Emplacement"></textarea>
                                            </div>
                                            <button class="btn btn-secondary btn-block">Demande d'information</button>
                                        </form>
                                    </div>
                                </div>
                                <div id="map" class="tab-pane fade">

                                </div>
                                <div id="street-map" class="tab-pane fade">

                                </div>

                            </div>
                            <div class="media-tabs">
                                <ul>
                                    <li class="popup-trigger active" data-placement="bottom" data-toggle="tooltip" data-original-title="View Photos">
                                        <a href="#gallery" data-toggle="tab" aria-expanded="true">
                                            <i class="fa fa-camera"></i>
                                        </a>
                                    </li>
                                    <li data-placement="bottom" data-toggle="tooltip" data-original-title="Map View" class="">
                                        <a href="#map" data-toggle="tab" aria-expanded="false">
                                            <i class="fa fa-map"></i>
                                        </a>
                                    </li>
                                    <li data-placement="bottom" data-toggle="tooltip" data-original-title="Street View" class="">
                                        <a href="#street-map" data-toggle="tab" aria-expanded="false">
                                            <i class="fa fa-street-view"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="actions">
                                    <li class="share-btn">
                                        <div class="share_tooltip tooltip_left fade">
                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-facebook"></i></a>
                                            <a href="#" onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}"><i class="fa fa-twitter"></i></a>

                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-pinterest"></i></a>

                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-linkedin"></i></a>

                                            <a href="#" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-envelope"></i></a>
                                        </div>
                                        <span data-placement="right" data-toggle="tooltip" data-original-title="share"><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-heart-o"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end detail top-->
        <!--start detail content-->
        <section class="section-detail-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 container-contentbar">
                        <div class="detail-bar">


                            <div id="gallery" class="property-gallery detail-block target-block">
                                <div class="detail-title">
                                    <h2 class="title-left">Gallery</h2>
                                </div>
                                <div class="container-image">
                                    <div class="row">
                                        {% set i =0 %}
                                        {% for gallery in annonce.galleries %}
                                            {% set i = i+1 %}
                                            <div class="column">
                                                <img class="demo cursor" id="image{{ i }}" src="{{ gallery }}" style="width:100%"  alt="The Woods">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- The Close Button -->
                                    <span class="close">&times;</span>

                                    <!-- Modal Content (The Image) -->
                                    <img class="modal-content" id="img01">

                                    <!-- Modal Caption (Image Text) -->
                                    <div id="caption"></div>
                                </div>


                                <style>
                                    .row:after {
                                        content: "";
                                        display: table;
                                        clear: both;
                                    }

                                    /* Six columns side by side */
                                    .column {
                                        float: left;
                                        width: 20%;
                                        padding: 10px;
                                    }

                                    /* Add a transparency effect for thumnbail images */
                                    .demo {
                                        opacity: 0.6;
                                    }

                                    .active,
                                    .demo:hover {
                                        opacity: 1;
                                    }

                                    .cursor {
                                        cursor: pointer;
                                    }


                                    /* The Modal (background) */
                                    .modal {
                                        display: none; /* Hidden by default */
                                        position: fixed; /* Stay in place */
                                        z-index: 1000; /* Sit on top */
                                        padding-top: 100px; /* Location of the box */
                                        left: 0;
                                        top: 0;
                                        width: 100%; /* Full width */
                                        height: 100%; /* Full height */
                                        overflow: auto; /* Enable scroll if needed */
                                        background-color: rgb(0,0,0); /* Fallback color */
                                        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
                                    }

                                    /* Modal Content (Image) */
                                    .modal-content {
                                        margin: auto;
                                        display: block;
                                        width: 80%;
                                        max-width: 700px;
                                    }

                                    /* Caption of Modal Image (Image Text) - Same Width as the Image */
                                    #caption {
                                        margin: auto;
                                        display: block;
                                        width: 80%;
                                        max-width: 700px;
                                        text-align: center;
                                        color: #ccc;
                                        padding: 10px 0;
                                        height: 150px;
                                    }

                                    /* Add Animation - Zoom in the Modal */
                                    .modal-content, #caption {
                                        animation-name: zoom;
                                        animation-duration: 0.6s;
                                    }

                                    @keyframes zoom {
                                        from {transform:scale(0)}
                                        to {transform:scale(1)}
                                    }

                                    /* The Close Button */
                                    .close {
                                        position: absolute;
                                        top: 15px;
                                        right: 35px;
                                        color: #f1f1f1;
                                        font-size: 40px;
                                        font-weight: bold;
                                        transition: 0.3s;
                                    }

                                    .close:hover,
                                    .close:focus {
                                        color: #bbb;
                                        text-decoration: none;
                                        cursor: pointer;
                                    }

                                    /* 100% Image Width on Smaller Screens */
                                    @media only screen and (max-width: 700px){
                                        .modal-content {
                                            width: 100%;
                                        }
                                    }
                                </style>
                            </div>

                            <div id="description" class="property-description detail-block target-block">
                                <div class="detail-title">
                                    <h2 class="title-left">Déscription</h2>
                                    <div class="title-right">
                                        <a href="#">Signaler cette annonce <i class="fa fa-flag"></i></a>
                                    </div>
                                </div>
                                <p>{{ annonce.description }}</p>
                            </div>


                            <div id="address" class="detail-address detail-block target-block">
                                <div class="detail-title">
                                    <h2 class="title-left">Adresse</h2>
                                    <div class="title-right">
                                        <a href="#">Ouvrir sur Google Maps <i class="fa fa-map-marker"></i></a>
                                    </div>
                                </div>
                                <ul class="list-three-col">
                                    <li><strong>Adresse:</strong> {{ annonce.adresse }}</li>
                                    <li><strong>Quartier:</strong> {{ annonce.quartier.nom }}</li>
                                    <li><strong>Ville:</strong> {{ annonce.quartier.ville.nom }}</li>
                                    <li><strong>Region:</strong> {{ annonce.quartier.ville.region.nom }}</li>
                                    <li><strong>Etat / Pays:</strong> Madagascar</li>
                                </ul>
                            </div>
                            <div id="detail" class="detail-list detail-block target-block">
                                <div class="detail-title">
                                    <h2 class="title-left">Detail</h2>
                                    <div class="title-right">
                                        <p>Information mise à jour le {{ annonce.updatedAt | date('d/m/Y') }}</p>
                                    </div>
                                </div>
                                <div class="alert alert-info">
                                    <ul class="list-three-col">
                                        <li><strong>Propriété ID:</strong> {{ annonce.id }}</li>
                                        <li><strong>Prix:</strong> Ar {{ annonce.prix }}</li>
                                        {% if annonce.category.type == 'Terrain' %}
                                            <li><strong>Surface de la propriété : </strong> {{ annonce.surface }} {{ annonce.uniteSurface }}</li>
                                        {% else %}
                                            <li><strong>Nombre piece:</strong> {{ annonce.nombrePiece }}</li>
                                        {% endif %}
                                        {% for caracteristique in annonce.caracteristiques %}
                                            <li><strong> - {{ caracteristique.nom }}</strong>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {#<div class="detail-title-inner">#}
                                    {#<h4 class="title-inner">Détails supplémentaires</h4>#}
                                {#</div>#}
                                {#<ul class="list-three-col">#}
                                    {#<li><strong>Dépôt:</strong> 20%</li>#}
                                    {#<li><strong>Taille du pool:</strong> 300m²</li>#}
                                    {#<li><strong>Dernière année de remodelage:</strong>2017</li>#}
                                    {#<li><strong>Equipement:</strong> Clubhouse</li>#}
                                    {#<li><strong>Chambres supplémentaire:</strong> Guest Bath</li>#}
                                    {#<li><strong>Equipment:</strong> Grill - Gas</li>#}
                                {#</ul>#}
                            </div>
                            {#<div id="features" class="detail-features detail-block target-block">#}
                                {#<div class="detail-title">#}
                                    {#<h2 class="title-left">En vedettes</h2>#}
                                {#</div>#}
                                {#<ul class="list-three-col list-features">#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Air Conditionner</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Barbeque</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Séchoir</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Gym</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Blanchisserie</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Pelouse</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Four micro onde</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Douche extérieure</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Refrigerateur</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Sauna</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Cable TV</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Machine à laver</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>WiFi</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-check"></i>Couvertures de fenêtre</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="floor-plan" class="property-plans detail-block target-block">#}
                                {#<div class="detail-title">#}
                                    {#<h2 class="title-left">Plans d'étage</h2>#}
                                {#</div>#}
                                {#<div class="accord-block">#}
                                    {#<div class="accord-tab">#}
                                        {#<h3>Plan d'étage A</h3>#}
                                        {#<ul>#}
                                            {#<li>Taille: <strong>1,234 m²</strong></li>#}
                                            {#<li>Lits: <strong>4</strong></li>#}
                                            {#<li>Chambres: <strong>3</strong></li>#}
                                            {#<li>Prix: <strong>$1,200/mo</strong></li>#}
                                        {#</ul>#}
                                        {#<div class="expand-icon active"></div>#}
                                    {#</div>#}
                                    {#<div class="accord-content" style="display: block">#}
                                        {#<img src="images/floor-image.png" alt="img" width="400" height="436">#}
                                    {#</div>#}
                                    {#<div class="accord-tab">#}
                                        {#<h3>Floor Plan B</h3>#}
                                        {#<ul>#}
                                            {#<li>Size: <strong>1,234 sqft</strong></li>#}
                                            {#<li>Beds: <strong>4</strong></li>#}
                                            {#<li>Baths: <strong>3</strong></li>#}
                                            {#<li>Price: <strong>$1,200/mo</strong></li>#}
                                        {#</ul>#}
                                        {#<div class="expand-icon"></div>#}
                                    {#</div>#}
                                    {#<div class="accord-content">#}
                                        {#<img src="images/floor-image.png" alt="img" width="400" height="436">#}
                                    {#</div>#}
                                    {#<div class="accord-tab">#}
                                        {#<h3>Floor Plan C</h3>#}
                                        {#<ul>#}
                                            {#<li>Size: <strong>1,234 sqft</strong></li>#}
                                            {#<li>Beds: <strong>4</strong></li>#}
                                            {#<li>Baths: <strong>3</strong></li>#}
                                            {#<li>Price: <strong> AR 1,200/m²</strong></li>#}
                                        {#</ul>#}
                                        {#<div class="expand-icon"></div>#}
                                    {#</div>#}
                                    {#<div class="accord-content">#}
                                        {#<img src="images/floor-image.png" alt="img" width="400" height="436">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="detail-title-inner">#}
                                    {#<h4 class="title-inner">Documents de la propriété</h4>#}
                                {#</div>#}
                                {#<ul class="document-list">#}
                                    {#<li>#}
                                        {#<div class="pull-left">#}
                                            {#<i class="fa fa-file-o"></i> Plan de la propriété en PDF#}
                                        {#</div>#}
                                        {#<div class="pull-right">#}
                                            {#<a href="#">Télécharger</a>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="pull-left">#}
                                            {#<i class="fa fa-file-o"></i> Brochure PDF#}
                                        {#</div>#}
                                        {#<div class="pull-right">#}
                                            {#<a href="#">Télécharger</a>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="video" class="property-video detail-block target-block">#}
                                {#<div class="detail-title">#}
                                    {#<h2 class="title-left">Video</h2>#}
                                {#</div>#}
                                {#<div class="video-block">#}
                                    {#<a href="https://www.youtube.com/watch?v=QK66RK7ogKU" data-fancy="property_video" title="YouTube demo">#}
                                        {#<span class="play-icon"><img src="images/icons/video-play-icon.png" alt="YouTube demo" width="70" height="50"></span>#}
                                        {#<img src="http://placehold.it/750x388" alt="thumb" class="video-thumb">#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div id="contact-info" class="detail-contact detail-block target-block">#}
                                {#<div class="detail-title">#}
                                    {#<h2 class="title-left"> Info contact </h2>#}
                                    {#<div class="title-right"><strong><a href="#">Voir ma liste</a></strong></div>#}
                                {#</div>#}
                                {#<div class="media agent-media">#}
                                    {#<div class="media-left">#}
                                        {#<a href="#">#}
                                            {#<img src="http://placehold.it/74x74" class="media-object" alt="image" width="74" height="74">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="media-body">#}
                                        {#<h4 class="media-heading">CONTACTE DE AGENT</h4>#}
                                        {#<ul>#}
                                            {#<li><i class="fa fa-user"></i> Koera sam</li>#}
                                            {#<li>#}
                                                {#<span><i class="fa fa-phone"></i>+261 33 62 410 20 </span>#}
                                                {#<span><a href="#"><i class="fa fa-skype"></i>Koera-sam</a></span>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<span><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></span>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="detail-title-inner">#}
                                    {#<h4 class="title-inner">Renseignez-vous sur cette propriété</h4>#}
                                {#</div>#}
                                {#<form>#}
                                    {#<div class="row">#}
                                        {#<div class="col-sm-4 col-xs-12">#}
                                            {#<div class="form-group">#}
                                                {#<input class="form-control" placeholder="Votre nom" type="text">#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="col-sm-4 col-xs-12">#}
                                            {#<div class="form-group">#}
                                                {#<input class="form-control" placeholder="Téléphone" type="text">#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="col-sm-4 col-xs-12">#}
                                            {#<div class="form-group">#}
                                                {#<input class="form-control" placeholder="E-mail" type="email">#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="col-sm-12 col-xs-12">#}
                                            {#<div class="form-group">#}
                                                {#<textarea class="form-control" rows="5" placeholder="Emplacement"></textarea>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<button class="btn btn-secondary">Demande d'information</button>#}
                                {#</form>#}
                            {#</div>#}

                            {#<div class="next-prev-block clearfix">#}
                                {#<div class="prev-box pull-left">#}
                                    {#<div class="media">#}
                                        {#<div class="media-left">#}
                                            {#<a href="#">#}
                                                {#<img src="http://placehold.it/99x99" class="media-object" alt="image" width="99" height="99">#}
                                            {#</a>#}
                                        {#</div>#}
                                        {#<div class="media-body media-middle">#}
                                            {#<h3 class="media-heading"><a href="#"><i class="fa fa-angle-left"></i>Ancien propriètaire</a></h3>#}
                                            {#<h4>Villa à vendre</h4>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="next-box pull-right">#}
                                    {#<div class="media">#}
                                        {#<div class="media-body media-middle text-right">#}
                                            {#<h3 class="media-heading"><a href="#">Ancien propriètaire <i class="fa fa-angle-right"></i></a></h3>#}
                                            {#<h4>Villa a vendre</h4>#}
                                        {#</div>#}
                                        {#<div class="media-right">#}
                                            {#<a href="#">#}
                                                {#<img src="http://placehold.it/99x99" class="media-object" alt="image" width="99" height="99">#}
                                            {#</a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 container-sidebar">
                        <aside id="sidebar">
                            <div class="widget widget-recommend">
                                <div class="widget-top">
                                    <h3 class="widget-title">Donner votre avis sur ce propriete</h3>
                                </div>
                                <div class="widget-body">
                                    Notez ce propriete <br/>
                                    <span class="bottom-ratings tip">
                                        {% if app.user %}
                                            {% if annonce in app.user.annonces %}
                                                <a href="{{ path('unlike',{'annonce_id':annonce.id}) }}">
                                                    <i class="fa fa-heart">
                                                    </i>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('like',{'annonce_id':annonce.id}) }}">
                                                    <i class="fa fa-heart-o">
                                                    </i>
                                                </a>
                                            {% endif %}
                                                                            {% else %}
                                            <a href="{{ path('like',{'annonce_id':annonce.id}) }}">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </a>
                                        {% endif %}
                                        {{ annonce.likes |length }} J'aime
                                        <br/>

                                        {% set count = 1 %}

                                        {% if (rating.getMoyenne(annonce)) > 0 %}

                                            {% for i in 1..rating.getMoyenne(annonce) %}
                                                <a href="{{ path('rating',{'annonce_id':annonce.id,'value':(i)}) }}">
                                                    <span class="fa fa-star"></span>
                                                </a>
                                                {% set count = count + 1 %}
                                            {% endfor %}
                                        {% endif %}

                                        {% set j = 1 %}
                                        {% if (5 - rating.getMoyenne(annonce)) > 0 %}
                                        {% for j in 1..(5 - rating.getMoyenne(annonce)) %}
                                            <a href="{{ path('rating',{'annonce_id':annonce.id,'value':(count)}) }}">
                                                <span class="fa fa-star-o"></span>
                                            </a>
                                            {% set count = count + 1 %}
                                        {% endfor %}
                                        {% endif %}
                                        Moyenne : {{ rating.getMoyenne(annonce) }} / 5
                                    </span>
                                </div>
                            </div>
                            <div class="widget widget-rated">
                                <div class="widget-top">
                                    <h3 class="widget-title">Propriétés les plus notées</h3>
                                </div>
                                <div class="widget-body">
                                    {% for annonce in annoncePlusNote|best(5)%}
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="item-thumb">
                                                <a class="hover-effect" href="{{ path('annonce_show',{'title':annonce.titre | slugify,'id':annonce.id}) }}">
                                                    <img alt="thumb" src="{{ annonce.galleries|last }}" width="100" height="75" style="width: 100px; height: 75px;">
                                                </a>
                                                <figcaption class="thumb-caption">

                                                    <ul class="list-unstyled actions">
                                                        <li>
                                                        <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Photos">
                                                            <i class="fa fa-camera"></i> <span class="blue">{{ annonce.galleries |length }}</span>
                                                        </span>
                                                        </li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading"><a href="{{ path('annonce_show',{'title':annonce.titre | slugify,'id':annonce.id}) }}">{{ annonce.category.type }} {{ annonce.typeAnnonce.valeur }}</a></h3>
                                            <div class="rating">
                                                <span class="star-text-left"> AR {{ annonce.prix }}</span>

                                                <span class="bottom-ratings tip">
                                                {% if (rating.getMoyenne(annonce)) > 0 %}
                                                    {% for i in 1..rating.getMoyenne(annonce) %}
                                                            <span class="fa fa-star"></span>
                                                    {% endfor %}
                                                {% endif %}

                                                {% set j = 1 %}

                                                {% if (5 - rating.getMoyenne(annonce)) > 0 %}
                                                    {% for j in 1..(5 - rating.getMoyenne(annonce)) %}
                                                            <span class="fa fa-star-o"></span>
                                                    {% endfor %}
                                                {% endif %}
                                                </span>
                                            </div>
                                            <div class="amenities">
                                                <p>{{ annonce.likes|length }} J'aime</p>
                                                <p>{{ annonce.adresse }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="widget widget-categories">
                                <div class="widget-top">
                                    <h3 class="widget-title">Catégories des propriétés</h3>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        {% for category in category %}
                                            <li><a href="">{{ category.type }}</a> <span class="cat-count">({{ category.annonces | length }})</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--end detail content-->

    </section>
{% endblock %}


{% block specificScript %}
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var modalImg = document.getElementById("img01");
        // var captionText = document.getElementById("caption");
        {% set i =0 %}
        {% for gallery in annonce.galleries %}
        {% set i = i+1 %}
        $('#image{{ i }}').click(function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            // captionText.innerHTML = this.alt;
            console.log('block')
        });
        {% endfor %}

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
    </script>
{% endblock %}
