{% extends 'template.html.twig' %}

{% block content %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Nombrepiece</th>
                <td>{{ annonce.nombrePiece }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ annonce.surface }}</td>
            </tr>
            <tr>
                <th>Unitesurface</th>
                <td>{{ annonce.uniteSurface }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ annonce.adresse }}</td>
            </tr>


        </tbody>
    </table>

    <ul>
        {% for caracteristique in annonce.caracteristiques %}
            <li>
                {{ caracteristique.nom }}
            </li>
        {% endfor %}
    </ul>

    
    Gallery : <br/>
    {% for image in annonce.galleries %}
        <img style="width: 150px;height: 150px;" src="{{ image.image }}"/>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
