{% extends 'base-for-login.html.twig' %}
{% block title %}
    <title>Mamaison - Réinitaliser mot de passe </title>
{% endblock %}
{% block content %}

    <div class="tab-content tabstyle">
        <div class="row">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
                <h3>Reinitialiser votre mot de passe</h3>
                {{ form_start(form) }}
                    {% if not form.vars.valid %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger">
                                    {{ form_errors(form.password.first) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="newpass">Nouveau mots de passe</label>
                                {{ form_widget(form.password.first) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="confirmpass">Confirm password</label>
                                {{ form_widget(form.password.second) }}
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Reinitialiser" />
                {{ form_end(form) }}

                {#Desactiver pour le moment#}
                <hr>
            </div>
            <div class="col-xs-4 col-sm-4"></div>
        </div>
    </div>

{% endblock %}