{% extends 'template.html.twig' %}

{% block content %}


    <section id="section-body">
        <div class="container">
            <div class="page-title breadcrumb-top">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                            <li class="active">Questions fréquemment posées</li>
                        </ol>
                        <div class="page-title-left">
                            <h2>Questions fréquemment posées</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 container-contentbar">
                    <div class="page-main">
                        <div class="article-detail">
                            <p>Sélectionnez l'une des questions fréquemment posées ci-dessous pour en savoir plus sur l'achat, la vente et la location de biens immobiliers. En outre, commencez à penser à des choses importantes à considérer  dans votre recherche immobilière.</p>

                            <h2>Questions concernant la publication d’une annonce :</h2>
                            <div class="toggle-content-area">
                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Comment m’inscrire sur MaMaison?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>L’inscription est obligatoire pour publier ou modifier une annonce sur MaMaison. Si vous souhaitez vous inscrire, il vous suffit de suivre les instructions suivantes.</p>
                                        <div class="faqguide">
                                            <p>1- Cliquez sur <a href="#">«Se connecter / Créer un compte»</a>,remplissez le formulaire en prenant soin de vérifier toutes les informations.</p>
                                            <p>2- Tapez correctement votre adresse e-mail afin que MaMaison puisse vous envoyer l’e-mail d’activation de compte.</p>
                                            <p>3- Consultez votre boîte e-mail : vous avez reçu un e-mail de MaMaison pour terminer la validation de votre compte. La réception du mail d’activation peut être rapide comme elle peut prendre du temps. Elle est indépendante de notre volonté et dépend de la disponibilité des serveurs.</p>
                                            <p>4- Une fois le mail reçu, Il ne vous reste qu’à cliquer sur le lien contenu pour que la création de votre compte soit effective.</p></br>
                                        </div>
                                        <p>Félicitations : votre compte est créé et vous pouvez désormais publier des annonces sur MaMaison !</p>
                                    </div>
                                </div>
                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Comment faire pour publier une annonce sur MaMaison?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>Il faut avoir un compte pour publier une annonce directement sur MaMaison.sn.La publication d’une annonce sur MaMaison.sn est très simple. Vous n’avez qu’à suivre les instructions suivantes :</p>
                                        <div class="faqguide">
                                            <p>1- Cliquez sur l’onglet « Créer une annonce » dans la page d’accueil</p>
                                            <p>2- Identifiez-vous avec votre Login et mot de passe</p>
                                            <p>3- Sélectionnez ensuite la catégorie dans laquelle vous voulez publier votre annonce (“Louer” si vous louez le bien  ou “Acheter” si vous vendez le bien)</p>
                                            <p>4- Saisissez les informations nécessaires à la création de votre annonce. Entrez un titre, un prix (s’il y a lieu) et la description du bien ou service que vous proposez.</p>
                                            <p>5- Téléchargez les images illustrant votre annonce.</p>
                                            <p>6- Cliquez sur le bouton « Valider » et Voilà !!</p>
                                            <p>7- A ce stade votre annonce n’est pas visible sur le site et vous pouvez toujours la modifier ou la supprimer dans « Mon espace perso ».</p>
                                            <p>8- MaMaison se donne un délai maximal de 24h pour publier les annonces</p><br>
                                        </div>
                                        <p>Une fois validée, l’annonce est visible sur le site.</p>
                                    </div>
                                </div>
                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Comment puis-je insérer des images/photos dans mon annonce ?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>Lorsque vous vous trouvez sur la page « Crée une annonce », entrez le type de votre annonce, son titre, sa description. Puis cliquez sur le bouton « Téléchargez images » .
                                            Sélectionnez un fichier d’images/photos sur le disque dur de votre ordinateur et cliquez sur « OK ».
                                            L’image sera alors téléchargée et jointe automatiquement à votre annonce.
                                            Rappelez-vous qu’une image vaut mille mots et que le fait d’en insérer une ou plusieurs dans votre annonce augmentera vos chances de recevoir de nombreuses réponses. Cependant n’oubliez pas que les images à caractère pornographique sont proscrites de MaMaison: ces annonces sont supprimées.</p>
                                    </div>
                                </div>

                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Comment redimensionner mes images ?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>Pour vous aider à optimiser le temps de téléchargement de vos images, veuillez noter que MaMaison.sn n’accepte pas les images de taille excédant 2 Mo. Si votre image dépasse 2Mo, merci de suivre les instructions suivante pour la redimensionner.</p>
                                        <div class="faqguide">
                                            <p>1- Ouvrez l’image avec Microsoft Office Picture Manager (Vous pouvez aussi utiliser d’autres programmes de traitement d’images).</p>
                                            <p>2- Cliquez sur l’onglet « Image » dans la barre de menu, ensuite sur « Redimensionner » pour voir un volet droit avec un panneau de modification des images s’afficher.</p>
                                            <p>3- Choisissez une option de redimensionnement parmi les réglages prédéfinis (Nous vous suggérons « Document – Grand 1024×768 »), puis validez.</p>
                                            <p>4- Sauvegardez le fichier redimensionné pour finir.</p>
                                            <p>Votre image est prête à être ajoutée à votre annonce sur MaMaison</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Comment modifier mon annonce ?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>Pour modifier votre annonce, cliquez sur le lien d'édition que vous avez reçu dans l'email de confirmation après avoir publié votre annonce. Sinon connectez-vous à l'aide de votre email et votre mot de passe en cliquant sur Mon compte. Comme nous contrôlons chaque modification, cela peut prendre jusqu'à 30 minutes avant que votre annonce ne soit à nouveau en ligne.</p>
                                    </div>
                                </div>
                            </div>

                            <h2>Question sur la vente</h2>
                            <div class="toggle-content-area">
                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Une maison peut-elle se déprécier?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>Généralement, la propriété immobilière ne se déprécie jamais, ou plus encore, il n'est pas très courant que la propriété se déprécie. & Nbsp; & nbsp; C'est la raison pour laquelle c'est un excellent investissement. & Nbsp; la maison, il peut affecter la valeur future des maisons grandement. </p>
                                        <p>Si vous êtes dans une zone nouvellement développée, faites des recherches sur la construction des zones environnantes en cours d'élaboration afin de déterminer si elles peuvent affecter la valeur de votre maison. </p>
                                    </div>
                                </div>
                                <div class="toggle-content-main">
                                    <div class="toggle-title">
                                        <h4>Une maison ancienne est-elle aussi bonne qu'une nouvelle maison?</h4>
                                    </div>
                                    <div class="toggle-content">
                                        <p>Ceci est vraiment juste une question de préférence, mais les maisons plus récentes et plus anciennes offrent des avantages distincts, en fonction de votre goût et style de vie unique. </p>
                                        <p>Les maisons plus vieilles peuvent généralement coûter moins cher que les maisons neuves, mais il existe de nombreux cas où les maisons neuves peuvent aussi coûter moins cher que les maisons plus anciennes. & Nbsp; La plupart des nouvelles maisons n'auront aucun aménagement paysager et certaines ne comprennent aucun aménagement paysager. . Avec une maison plus ancienne, l'aménagement paysager est normalement déjà terminé et pourrait faire 10 "de milliers de dollars en aménagement paysager, ce qui est inclus dans le prix d'achat. </p>
                                        <p>Les taxes sur certaines maisons plus anciennes peuvent également être plus faibles. Certaines personnes sont charmées par l'élégance d'une maison plus ancienne, mais timides parce qu'ils sont préoccupés par les coûts d'entretien potentiels. Envisager une garantie à domicile pour obtenir la tranquillité d'esprit que vous méritez. Un bon plan de garantie à domicile vous protège contre les réparations inattendues sur de nombreux systèmes et appareils ménagers pendant une année entière ou plus après votre emménagement. </p>
                                        <p>Dans une nouvelle maison, vous pouvez choisir vos propres couleurs, revêtements de sol, armoires de cuisine, électroménagers, câblage personnalisé pour TV, électricité, ordinateurs, téléphones et haut-parleurs, etc. Les caractéristiques modernes comme les salles multimédia, les placards extra-larges et les très grandes salles de bains et baignoires sont également plus accessibles dans les constructions de rez-up. Dans une maison usagée, vous comptez en grande partie sur les goûts des résidents précédents et les caprices technologiques, à moins que vous ne prévoyiez de cultiver des milliers de personnes dans un remodelage et recâblage. </p>
                                        <p>Les concepteurs de nouvelles maisons peuvent utiliser de nouveaux matériaux de construction tels que des fenêtres vitrées blindés une isolation plus épaisse et d'autres technologies qui réduiront les coûts énergétiques futurs du propriétaire. La plupart des États ont maintenant des exigences minimales d'efficacité énergétique pour les nouvelles constructions. Les cuisines et les aires de lavage des maisons neuves sont conçues pour héberger des appareils plus économes en énergie. Les maisons plus anciennes, à moins d'avoir subi une rénovation énergétique, coûtent généralement beaucoup plus par pied carré à l'air conditionné et à la chaleur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 container-sidebar">
                    <aside id="sidebar">
                        <div class="widget widget-rated">
                            <div class="widget-top">
                                <h3 class="widget-title">Propriétés les plus notées</h3>
                            </div>
                            <div class="widget-body">
                                {% for annonce in annoncePlusNote|best(5) %}
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="item-thumb">
                                                <a class="hover-effect"
                                                   href="{{ path('annonce_show',{'ville':app.request.cookies.get('ville') ,'category':annonce.category.type|slugify,'type':annonce.typeAnnonce.valeur|slugify,'title':annonce.titre | slugify,'id':annonce.id}) }}">
                                                    <img src="{{ path('mamaison.thumb',{'id':annonce.id}) }}"
                                                         width="100" height="75" style="width: 100px; height: 75px;"
                                                         alt="{{ annonce.titre }}">
                                                </a>
                                                <figcaption class="thumb-caption">
                                                    <ul class="list-unstyled actions">
                                                        <li>
                                                        <span title="" data-placement="top" data-toggle="tooltip"
                                                              data-original-title="Photos">
                                                            <i class="fa fa-camera"></i> <span
                                                                    class="blue">{{ annonce.galleries |length }}</span>
                                                        </span>
                                                        </li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading"><a
                                                        href="{{ path('annonce_show',{'ville':app.request.cookies.get('ville') ,'category':annonce.category.type|slugify,'type':annonce.typeAnnonce.valeur|slugify,'title':annonce.titre | slugify,'id':annonce.id}) }}">{{ annonce.category.type }} {{ annonce.typeAnnonce.valeur }}</a>
                                            </h3>
                                            <div class="rating">
                                                <span class="star-text-left"> AR {{ annonce.prix }}</span>

                                                <span class="bottom-ratings tip">
                                                {% if (rating.getMoyenne(annonce)) > 0 %}
                                                    {% for i in 1..rating.getMoyenne(annonce) %}
                                                        <span class="fa fa-star"></span>
                                                    {% endfor %}
                                                {% endif %}

                                                    {% set j = 1 %}

                                                    {% if (5 - rating.getMoyenne(annonce)) > 0 %}
                                                        {% for j in 1..(5 - rating.getMoyenne(annonce)) %}
                                                            <span class="fa fa-star-o"></span>
                                                        {% endfor %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="amenities">
                                                <p>{{ annonce.likes|length }} J'aime</p>
                                                <p>{{ annonce.adresse }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="widget widget-categories">
                            <div class="widget-top">
                                <h3 class="widget-title">Catégories des propriétés</h3>
                            </div>
                            <div class="widget-body">
                                <ul>
                                    {% for category in category %}
                                        <li><a href="">{{ category.type }}</a> <span
                                                    class="cat-count">({{ category.annonces | length }})</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}