{% extends 'base-for-login.html.twig' %}
{% block title %}
    <title>Mamaison - Compte</title>
{% endblock %}
{% block content %}
<div class="tab-content tabstyle">
    <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4">

            {#<div class="message">#}
                {#<p class="error text-danger"><i class="fa fa-close"></i> Inscription échouée</p>#}
                {#<p class="success text-success"><i class="fa fa-check"></i> Inscription réussite</p>#}
            {#</div>#}
            {{ form_start(form) }}
                <div class="form-group field-group">
                    <div class="input-user input-icon">
                        {#<input placeholder="Nom d’utilisateur">#}
                        {{ form_widget(form.username, { 'attr': {'placeholder':'Nom d\'utilisateur (responsable)'} }) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="input-email input-icon">
                        {{ form_widget(form.societyName, { 'attr': {'placeholder':'Nom de l\'agence'} }) }}
                        {{ form_errors(form.societyName) }}
                    </div>
                    <div class="input-email input-icon">
                        {{ form_widget(form.email, { 'attr': {'placeholder':'email professionnel'} }) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="fa-key input-icon">
                        {{ form_widget(form.password.first, { 'attr': {'placeholder':'Mot de passe'} }) }}
                        {{ form_errors(form.password) }}
                    </div>
                    <div class="fa-key input-icon">
                        {{ form_widget(form.password.second, { 'attr': {'placeholder':'Confirmer mot de passe'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" required>Accepter les<a href="#"> termes et conditions.</a>.
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">S'inscrire</button>
            {{ form_end(form) }}
            {#<hr>#}
            {#<a href="#" class="btn btn-social btn-bg-facebook btn-block fesiboky"><img src="{{ asset('assets/images/icons/social-facebook.svg') }}" width="9px" height="9px" align="left"/>Se connecter avec#}
                {#facebook</a>#}
            {#<a href="#" class="btn btn-social btn-bg-google-plus btn-block tontongoogle"><img src="{{ asset('assets/images/icons/social-google.svg') }}" width="12px" height="12px" align="left"/>Se connecter avec#}
                {#Google</a>#}
        </div>
        <div class="col-xs-4 col-sm-4"></div>
    </div>
</div>
{% endblock %}